@using ProjectMVC.ViewModels
@model UpdateCartVM



<main class="w-100 d-flex flex-column justify-content-center align-items-center" style="height:100vh">
    <h2>Update Member</h2>
    <div class="p-5 bg-success rounded-4 ">
        <form  asp-area="Admin" asp-controller="Dashboard" asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Member Name</label>
                <input asp-for="Name" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Member's Specialty</label>
                <input asp-for="Specialty" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Member's Description</label>
                <input asp-for="Description" class="form-control bg-light" id="exampleInputPassword1">
            </div>
            <div class="mb-3 ">
                <input asp-for="File"  class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</main>